@font-face {
  font-family: 'sky';  /* project id 1974028 */
  src: url('http://at.alicdn.com/t/font_1974028_pvyrnpzu28c.eot');
  src: url('http://at.alicdn.com/t/font_1974028_pvyrnpzu28c.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_1974028_pvyrnpzu28c.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_1974028_pvyrnpzu28c.woff') format('woff'),
  url('http://at.alicdn.com/t/font_1974028_pvyrnpzu28c.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_1974028_pvyrnpzu28c.svg#iconfont') format('svg');
}
