*{
    margin: 0px;
    padding: 0px;
}
.box{
    width: 100%;
    margin: 0px auto;
}
.head{
    width: 100%;
    height: 90px;
}
.head_left{
    width: 216px ;
    height: 90px;
  
    float: left;
    margin-left:180px;
    background: url("./image/logo.png") 2px 21px no-repeat;
}
.head_cen{
    width: 420px ;
    height: 90px;
   
    float: left;
    margin-left:40px;         
}
ul li{
    list-style: none;
}
.head_cen ul li{
    float: left;
  
}
a{
    text-decoration: none;
}
.head_cen ul li a{
    color: #000;
    line-height: 90px;
    font-size: 18px;
    padding: 12px;
}
.head_cen ul li:hover{
    background-color: #31C27C;
}
.head_cen ul li a:hover{
    background-color: #31C27C;
}
.head_right{
    width: 220px ;
    height: 40px;
    border: 1px solid #c9c9c9;
    float: left;
    margin-left:40px;
    margin-top: 25px;  
    border-radius: 3px;    
}
.head_right_l{
    width: 180px ;
    height: 40px;
    float: left;  
}
.head_right_l input{
    width: 180px ;
    height: 40px;
    line-height: 40px;
    border: 0px;
    font-size: 17px;
}
.head_right_r{
    width: 30px ;
    height: 40px;
    
    float: right;  
    background: url("./image/1.png") 1px -53px no-repeat;
}
.touxiang{
    width: 40px ;
    height: 40px;
 
    float: left;
    margin-left:20px;
    margin-top: 25px; 
    background: url("./image/touxiang.jpg") 0px 0px no-repeat;
    border-radius: 50%;    
}
.head_b1{
    width: 110px ;
    height: 40px;
    border: 1px solid #c9c9c9;
    float: left;
    margin-left:20px;
    margin-top: 25px;     
    border-radius: 3px;         
}
.head_b1_l{
    width: 80px;
    height: 40px;
   
    float: left;        
}
.head_b1_l input{
    width: 80px;
    height: 40px;
    background-color: #31C27C;
    color: #eee;
    border: 0px;
}
.head_b1_r{
    width: 25px;
    height: 40px;
    float: right;
    background: url("./image/mytag.png") -449px -79px no-repeat;
}
.head_b2{
    width: 100px;
    height: 40px;
    border:1px solid #c9c9c9;
    float: left; 
    margin-left:20px;
    margin-top: 25px;  
    border-radius: 3px;     

}
.head_b2_l{
    width: 70px;
    height: 40px;

    float: left; 
}
.head_b2_l input{
    width: 70px;
    height: 40px;
    background-color: #FFFFFF;
    border: 0px;
}
.head_b2_r{
    width: 20px;
    height: 40px;
    float: right; 
    background: url("./image/mytag.png") -454px -79px no-repeat;
}
hr{
    margin-left: 180px;
}
.head2{
    width: 100%;
    height: 50px;
    
}
.head2 ul li{
    float: left;
    line-height: 50px;
    margin-left: 40px;
}
.head2 a{
    color: black;
    font-size: 15px;
}
.head2_1{
    margin-left: 100px;
}
.head2 ul{
    margin-left: 430px;
}
.banner{
    width: 100%;
    height: 500px;
    background-color: #F3F3F3;
    overflow: hidden;
}
.banner_t{
    width: 300px;
    height: 100px;
   
    margin: 0px auto;
    margin-top: 20px;
}
.banner_t span{
    font-size: 28px;
    font-weight: bold;
    line-height: 100px;
    margin-left: 55px;
}
.banner_c{
    width: 550px;
    height: 50px;
   
    margin: 0px auto;
}
.banner_c ul li{
    float: left;
    padding-left: 35px;
}
.banner_c ul li a{
    color: #000;
}
.banner_b{
    width: 1200px;
    height: 300px;
    margin: 0px auto;
}
.banner_b_1{
    width: 232px;
    height: 90%;
    
    float: left;
}
.banner_b_1_t{
    width: 100%;
    height:78%;
    
}
.banner_b_1_c{
    width: 100%;
    height: 10%;
   
    margin-top: 5px;
}
.banner_b_1_c span a{
    color: #000;
    font-size: 14px;
}
.banner_b_1_b{
    width: 100%;
    
    height: 10%;
}
.banner_b_1_b a{
    font-size: 14px;
    color: #999999;
}
.tu{
    margin-left: 10px;
}
.xinge{
    width: 100%;
    height: 520px;
}
.xingetu{
    width: 100%;
    height: 330px;
    margin-top: 10px;
}
.xingetu_diyihang{
    width: 80%;
    height: 100px;
    margin-left: 150px;
    margin-top: 0px;
}
.diyihang_1{
    width: 33%;
    height: 100%;
    float: left;
}
.hangyi_1_tu{
    width: 110px;
    height: 100%;
    float: left;
}
.hangyi_1_zi{
    width: 240px;
    height: 80%;
   
    float: left;
}
.zi_left{
    width: 100px;
    height: 100%;
    float: left;
    margin-top: 25px;
    margin-left: 10px;
}
.zi_left_t{
    width: 100%;
    height: 30%;
    
}
.zi_left_t span{
    margin-top: 10px;
}
.zi_left_b{
    width: 100%;
    height: 50%;
}
.zi_right{
    width: 50px;
    height: 50%;
    float: right;
    margin-top: 35px;
}
.jingcai{
    width: 100%;
    height: 370px;
    margin-top: 10px;
    background-color: #F3F3F3;
}
.jingcaitu{
    width: 100%;
    height: 240px;
    
}
.caitu1{
    width: 578px;
    height: 100%;
    
    float: left;
    margin-left: 150px;
}
.caitu2{
    width: 578px;
    height: 100%;
   
    float: left;
    margin-left: 20px;
}
.xindie{
    width: 100%;
    height: 750px;
}
.xindie_c{
    width: 100%;
    height: 620px;
    margin-top: 10px;
}
.xindie_c_l{
  width: 1170px;
  height: 300px;
  
  margin-left: 150px;  
}
.xindie_c_l_1{
    width: 220px;
    height: 100%;
    float: left;
}
.xindie_tu{
    width: 100%;
    height: 230px;
}
.xindie_zi{
    width: 100%;
    height: 40px;
    margin-top: 15px;
}
.paihangbang{
    width: 100%;
    height: 630px;
    background-color: #F3F3F3;
    margin-top: 40px;
}
.bang_c{
    width: 100%;
    height: 500px;
}
.bang_c_1{
    width: 220px;
    height: 100%;
    background-color: #D87B96;
    float: left;
    margin-left: 150px;
}
.bang_c_1_t{
    width: 100%;
    height: 30px;
    margin-top: 50px;
}
.bang_c_1_t_s{
   width: 100%;
   height: 50px;
}
.bang_zi{
    width: 100%;
    height: 50px;
    margin-top: 30px;
}
.mv{
    width: 100%;
    height: 650px;
}
.mv_c{
    width: 100%;
    height: 470px;
}
.mv_c_t{
    width: 100%;
    height: 230px;
}
.mv_c_t_1{
    width: 220px;
    height: 100%;
    float: left;
    margin-left: 150px;
}
.mv_c_t_1_t{
    width: 100%;
    height: 120px;
}
.mv_zi{
    width: 100%;
}
.footer{
    width: 100%;
    height:700px; 
    margin-top: 10px;
    background-color: #333333;
}
.footer_t{
    width: 100%;
    height:250px; 
}
.footer_t1{
    width: 420px;
    height:200px; 
    
    margin-left: 100px;
    margin-top: 40px;
    float: left;
}
.footer_t1_t{
    width: 100%;
    height: 50px;
   
}
.footer_t1_t span{
    line-height: 50px;
    color: #c9c9c9;

}
.footer_t1_c{
    width: 100%;
    height: 200px;
  
}
.footer_t1_c1{
    width: 90px;
    margin-top: 20px;
    height: 100px;
   
    float: left;
}
.footer_t1_c1_t{
    width: 100%;
    height: 60px;
    background: url("./image/fbf292c98217d04e67f063be771715c.png") 0px 0px no-repeat;           
}
.footer_t1_c1_b{
    width: 100%;
    height: 30px;
} 
.footer_t1_c1_b span{
    color: #c9c9c9;
    margin-left: 10px;
}
.footer_t1_c2{
    width: 90px;
    margin-top: 20px;
    height: 100px;
   
    float: left;
    margin-left: 10px;
}
.footer_t1_c2_t{
    width: 100%;
    height: 60px;
    background: url("./image/843ceaaaee6ad6cfa1196e1057f5cb0.png") 0px -4px no-repeat; 
}
.footer_t1_c2_b{
    width: 100%;
    height: 30px;
} 
.footer_t1_c2_b span{
    color: #c9c9c9;
    margin-left: 10px;
}
.footer_t1_c3{
    width: 90px;
    margin-top: 20px;
    height: 100px;
   
    float: left;
    margin-left: 10px;
}
.footer_t1_c3_t{
    width: 100%;
    height: 60px;
    background: url("./image/af1d37b603ebb634cf398999d6286f4.png") 5px -5px no-repeat; 
}
.footer_t1_c3_b{
    width: 100%;
    height: 30px;
} 
.footer_t1_c3_b span{
    color: #c9c9c9;
    margin-left: 10px;
}
.footer_t1_c4{
    width: 90px;
    margin-top: 20px;
    height: 100px;
   
    float: left;
    margin-left: 10px;
}
.footer_t1_c4_t{
    width: 100%;
    height: 60px;
    background: url("./image/2ebb857a9623b3438f96e9dffd1c17a.png") 0px -2px no-repeat; 
}
.footer_t1_c4_b{
    width: 100%;
    height: 30px;
} 
.footer_t1_c4_b span{
    color: #c9c9c9;
    margin-left: 10px;
}
.footer_t2{
    width: 420px;
    height:200px; 
   
    margin-left: 50px;
    margin-top: 40px;
    float: left;
} 
.footer_t2_t{
    width: 100%;
    height: 50px;
   
}
.footer_t2_t span{
    line-height: 50px;
    color: #c9c9c9;
}
.footer_t2_c{
    width: 100%;
    height: 150px;
   
}
.footer_t2_c1{
    width: 90px;
    margin-top: 20px;
    height: 100px;
   
    float: left;
    margin-left: 10px;
}
.footer_t2_c1_t{
    width: 100%;
    height: 60px;
    background: url("./image/f1c49d2c12536eeb36e56958785ac10.png") -16px -4px no-repeat; 
}
.footer_t2_c1_b{
    width: 100%;
    height: 30px;
} 
.footer_t2_c1_b span{
    color: #c9c9c9;
    margin-left: 10px;
}
.footer_t2_c2{
    width: 90px;
    margin-top: 20px;
    height: 100px;
   
    float: left;
    margin-left: 10px;
}
.footer_t2_c2_t{
    width: 100%;
    height: 60px;
    background: url("./image/0390aa6c625952f119da529c487bc47.png") -4px -4px no-repeat; 
}
.footer_t2_c2_b{
    width: 100%;
    height: 30px;
} 
.footer_t2_c2_b span{
    color: #c9c9c9;
    margin-left: 10px;
}
.footer_t2_c3{
    width: 90px;
    margin-top: 20px;
    height: 100px;
   
    float: left;
    margin-left: 10px;
}
.footer_t2_c3_t{
    width: 100%;
    height: 60px;
    background: url("./image/2bae16968c3f6ab945c1a7606b98363.png") -9px -4px no-repeat; 
}
.footer_t2_c3_b{
    width: 100%;
    height: 30px;
} 
.footer_t2_c3_b span{
    color: #c9c9c9;
    margin-left: 10px;
}
.footer_t2_c4{
    width: 90px;
    margin-top: 20px;
    height: 100px;
   
    float: left;
    margin-left: 10px;
}
.footer_t2_c4_t{
    width: 100%;
    height: 60px;
    background: url("./image/bd63e209e2c96ba74e1c16e44b4661c.png") 0px 1px no-repeat; 
}
.footer_t2_c4_b{
    width: 100%;
    height: 30px;
    margin-top: 2px;
} 
.footer_t2_c4_b span{
    color: #c9c9c9;
    margin-left: 10px;
}
.footer_t3{
    width: 420px;
    height:200px; 
   
    margin-left: 50px;
    margin-top: 40px;
    float: left;
}
.footer_t3_t{
    width: 100%;
    height: 50px;
   
}
.footer_t3_t span{
    line-height: 50px;
    color: #c9c9c9;
}
.footer_t3_c{
    width: 100%;
    height: 150px;
    
}
.footer_t3_c_1{
    width: 125px;
    height: 150px;
   
    float: left;
}
.footer_t3_c_2{
    width: 125px;
    height: 150px;
  
    float: left;
    margin-left: 10px;
}
.footer_t3_c_3{
    width: 125px;
    height: 150px;
   
    float: left;
    margin-left: 10px;
}
.footer_t3_c ul li{
    color: #c9c9c9;
    margin-top: 10px;
}
.weizi{
    width: 650px;
    height: 50px;
    margin-top: 180px;
    margin-left: 100px;
    float: left;
}
.weizi span{
    color: #c9c9c9;
}
.weizi2{
    width: 650px;
    height: 50px;
    margin-left: 100px;
    margin-top: 250px;
}
.weizi2 span{
    color: #c9c9c9;
}
.end{
    width: 800px;
    height: 100px;
   
    margin-left: 360px;
    margin-top: 50px;
}
.end1{
    width: 800px;
    height: 30px;
  
}
.end1 ul li{
    float: left;
    font-size: 12px;
    color: #c9c9c9;
    margin-left: 8px;
    line-height: 30px;
}
.end1 ul li a{
    color: #c9c9c9;
}
.end2{
    width: 800px;
    height: 30px;
  
}
.end2 span{
    color: #c9c9c9;
    font-size: 12px;
    margin-left: 200px;
}
.end3{
    width: 800px;
    height: 30px;
    
}
.end3 span{
    color: #c9c9c9;
    font-size: 12px;
    margin-left: 230px;
}